<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Satyr_03_Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,17}</string>
                <key>spriteSize</key>
                <string>{272,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,19}</string>
                <key>spriteSize</key>
                <string>{270,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,529},{270,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,18}</string>
                <key>spriteSize</key>
                <string>{274,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{281,265},{274,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{557,265},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{294,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,531},{294,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{302,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{569,531},{302,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{306,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,797},{306,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{275,1},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,17}</string>
                <key>spriteSize</key>
                <string>{296,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{577,1},{296,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,18}</string>
                <key>spriteSize</key>
                <string>{290,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{309,797},{290,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,19}</string>
                <key>spriteSize</key>
                <string>{284,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{287,1329},{284,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,19}</string>
                <key>spriteSize</key>
                <string>{280,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{573,1329},{280,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,18}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1063},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{286,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{287,1063},{286,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,18}</string>
                <key>spriteSize</key>
                <string>{286,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{575,1063},{286,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1329},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{601,797},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,17}</string>
                <key>spriteSize</key>
                <string>{278,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,265},{278,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_walk.png</string>
            <key>size</key>
            <string>{882,1596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196637dbe469aa7adee16cb056ef9258:2cf290dd84ac5fc3517a3719b49b6400:357d63739acfcb85ff08628ea71760ed$</string>
            <key>textureFileName</key>
            <string>enemy_walk.png</string>
        </dict>
    </dict>
</plist>
