<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Satyr_03_Idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{288,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,793},{288,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{284,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{579,793},{284,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{284,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{583,529},{284,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{286,260}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{291,793},{286,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{286,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{589,1},{286,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{288,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{587,265},{288,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{288,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{293,529},{288,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{292,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{292,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,265},{292,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{292,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{295,1},{292,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{290,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,529},{290,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Satyr_03_Idle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{290,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{295,265},{290,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_idle.png</string>
            <key>size</key>
            <string>{876,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9207b755692b56cdaf6e9ecacd129d0d:ca484df1bb2cadd86bb383b95be9be2f:b006dcc65bb4cf181e71bef30db83c83$</string>
            <key>textureFileName</key>
            <string>enemy_idle.png</string>
        </dict>
    </dict>
</plist>
