<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Golem_Walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,37},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_Walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,75},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_Walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,151},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_Walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,191},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_Walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,113},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_Walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Golem_Walk.png</string>
            <key>size</key>
            <string>{52,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be0bf7fd4ac26dba3eee37948e542e9:c498556d675e45816c218449b9c44b8f:c8c996fa518715de2e89243c146923ea$</string>
            <key>textureFileName</key>
            <string>Golem_Walk.png</string>
        </dict>
    </dict>
</plist>
